.sidebar {
  width: 210px;
  min-width: 210px;
  height: 100%;
  background: #ffffff;
  padding: 18px 14px;
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 15px 0 0 15px;
  border: 1px solid #E5E5E5;
  border-right: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 34px;

  img {
    width: 78px;
    height: auto;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu-item,
.menu-title,
.submenu-item {
  min-height: 38px;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 0 12px;

  border-radius: 8px;

  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 500;

  color: #4b5563;
  text-decoration: none;

  cursor: pointer;
  transition: 0.2s ease;
}

.menu-item:hover,
.menu-title:hover,
.submenu-item:hover {
  background: #f5f9ff;
  color: #163572;
}

.menu-item.active,
.submenu-item.active {
  background: #eef5ff;
  color: #163572;
  font-weight: 700;
}

.menu-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu-title {
  color: #4b5563;
}

.submenu-item {
  margin-left: 18px;
  font-size: 12.5px;
  color: #4b5563;
}

.menu-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  flex-shrink: 0;
}